#divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  width: 1199px;
  margin-top: 20px;
  /* DIVIDER FOR PRODUCTS SPECS AND SHOP VOUCHER */
}
#ProductSPECS {
  border: 1px solid rgba(182, 47, 216, 0.185);
  background-color: rgb(248, 248, 248);
  height: 700px;
  width: 78.2%;
  display: flex;
  justify-self: center;
  border-radius: 5px;
  margin-bottom: 500px;
}
#ProductDetail {
  width: 100%;
  height: 97%;
  padding: 10px;
}
#prodspecs {
  padding: 20px 0 20px 20px;
  font-size: 20px;
  background: rgba(181, 0, 253, 0.178);
}
